@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: none;
    padding: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb{
    background-color: #415446;
    border-radius: 50px;
}

html::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #EBF0EC;
}

span.type{
    color: #415446;
}

.cards {
    perspective: 250px;
    transform-style: preserve-3d;
}

@media only screen and (min-width: 1200px){

    .cards {
        perspective: 1000px;
        transform-style: preserve-3d;
    }
}

.cards label {
    transition: transform 0.55s ease;
}

#divProject input {

    display: none;
}




#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}



/* -------------------------------- 

File#: _1_404
Title: 404
Descr: 404 error section
Usage: codyhouse.co/license

-------------------------------- */

#i-fof-browser {
    transform-origin: 260px 304px;
    animation: i-fof-browser 4s infinite;
  }
  
  #i-fof-shadow {
    transform-origin: 282px 410px;
    animation: i-fof-shadow 4s infinite;
  }
  
  @keyframes i-fof-browser {
    0%, 100% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-10%) scale(0.9);
    }
  }
  
  @keyframes i-fof-shadow {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }